*{
    margin: 0;
    padding: 0;
}

.page__one {
    height: 800px;
    background-color: #F9F6F1;
}
.container{
    max-width:1110px;
    margin: 0 auto;
}
.header a {
    text-decoration: none;
    color: black;
    font-family: montserrat;
    font-weight: 500;
    font-size: 14px;    
}
.logo {
    display: flex;    
    justify-content: space-between;
}
.logo_text {
    color: var(--Black, #212121);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 6px;
}
.category img {
    margin-left: 6px;
    margin-bottom: 3px;
}
.basket {
    display: flex;    
    justify-content: space-between;
}
.purchases {
    margin-left: 15px;
    margin-top: 9px;
}
.category a {
    margin-right: 35px;
}
.logistic {
    display: flex;    
    justify-content: space-between;
}
.logistic a {
    margin-left: 35px;

}

a:hover{
    color: #D7B399;
   
}

.header {
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    max-width: 1110px;
    margin: 0 auto;
}
.sale_text {
    height: 225px;
    width: 555px;
    margin-top: 110px;
}
.sale_text_1 {
    font-size: 30px;
    font-family: montserrat;
    font-weight: 400;
}
.sale_text_2 {
    font-size: 55px;
    font-family: montserrat;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 55px;
}
.show_models{
    height: 55px;
    width: 200px;
    background-color: #D7B399;
    border: 0px;
    color: white;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 400; 
    cursor: pointer;   
}
.sale_window{
    display: flex;
    justify-content: space-between;
}

.slider {
    width: 555px;
    height: 377px;
    margin-top: 70px;
    z-index: 0;
}
.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
    min-width: 0;
}

.slider .slick-dots {
    display: flex;
    margin-left: -90px;
    margin-top: 70px;
    cursor: pointer;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0 10px;
}
.slider .slick-dots button {
    font-size: 0;
    width: 40px;
    height: 7px;
    background-color: #CECECE;
    border: none;
}

.slider .slick-dots .slick-active button {
    background-color: #D7B399;
}

.sale_window img {
    
    width: 555px;
    margin-top: 78px;    
}
.page_two {
    background-color: #212121;
    height: 235px;
    color: white;
    text-align: center;    
}
.free_delivery {
    font-family: montserrat;
    font-size: 30px;
    font-weight: 400;
    padding-top: 80px;
    padding-bottom: 23px;
}
.order {
    font-family: montserrat;
    font-size: 21px;
    font-weight: 300;
}
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
}
.modal__main {
    position: relative;
    width:670px;
    background-color: antiquewhite;
    margin: auto;
    color: black;
    border-radius: 3px;
    padding: 30px;
    cursor: default;
   }

.modal__title {
    margin-bottom: 15px;
    text-align: center;
}
.modal__container h3 {
    text-align: center;
    margin-bottom: 10px;
}
.modal_window_1, .modal_window_2 {
    width: 300px;
    border:1px solid #D7B399;
    padding: 10px;
   
}
.modal__container {
    display: flex;
    justify-content: space-between;
    
}
.modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
}

.modal__close:focus-visible {
    outline-color: #D7B399;
}
.page_three {
    display: flex;
    align-items: center;
    
}
.male_wear_background {
    background-color: #F9F6F1;
    height: 235px;
    width: 50%;   
}

.female_wear_background {
    background-color: #F4F4F4;
    height: 235px;
    width: 50%;    
}


.male_wear, .female_wear {
    margin-top: 60px; 
    width: 555px;
   
    display: flex;
    justify-content: space-between;
}
.male_wear {
    position: absolute;
    right: 50%;
} 
.female_wear {
    position: absolute;
    left: 50%;
} 



.male_text_section, .female_text_section {
    display: block;
    justify-content: space-between;
    align-items: center;
    height:  120px;
    margin-left: 20px;
    
}
.male_wear_text_1, .female_wear_text_1 {
    font-family: montserrat;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}
.male_wear_text_2, .female_wear_text_2 {
    font-family: montserrat;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 40px;
}
.show_more {
    height: 30px;
    width: 80px;
    background-color: #D7B399;
    border: 0px;
    color: white;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 400; 
    cursor: pointer;
}
.arrow {
    width: 20px;
    margin-bottom: 2px;

}
.page_three_image {
    height: 171px; 
    width: 190px;
    margin-top: 4px;    
    }
 
    .page_four .container {
        display: flex;
        height: 235px;
    }
    .product_example_1, .product_example_3, .product_example_6, .product_example_8 {
       
        height: 236px;
        width: 277px;
        background-color: #F4F4F4;
    
        
    }
    .product_example_2, .product_example_4, .product_example_5, .product_example_7 {
        height: 236px;
        width: 277px;
        background-color: #F9F6F1;
       
    }
    .product_img {
        width: 200px;
        float: right;
    }
    .product_text {
        color: #000;
        font-family: Montserrat;
        font-size: 21px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.63px;
        position: relative;
        top: 79%;
        left: 10%;
    }   
    .product_example_2 img {
        width: 190px;
    }

    .product_example_3 img {
        width: 150px;
    }
    .product_example_4 img {
        width: 220px;
    }
    .product_example_6 img {
        width: 240px;
    }
    .product_example_5 img {
        width: 218px;
    }
    .product_example_7 img {
        width: 200px;
    }
    .product_example_8 img {
        width: 250px;
    }

    .new_models_text {
        margin-top: 150px;
        margin-bottom: 100px;
        text-align:  center;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.44px;
        text-transform: uppercase;
    }

    .page_five .container, .page_seven .container{
        display: flex;
        margin-bottom: 100px;
    }



    /* .new_product_card {
        border: 3px solid #D7B399;  
        margin: 10px;
        height: 350px;
        width: 255px;
    } */
    .new_product_card {
        display: inline-block;
        width: 300px;
        position: relative;
        border: 2px solid #D7B399;
        transition: all .3s ease;
        margin: 10px;
    }

    .new_product_card:before, 
    .new_product_card:after {
        content: "";
       
        display: block;
        position: absolute;
        background: #ffffff56;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 50% 50%;
    }
    .new_product_card:before {
        width: calc(100% + 4px);
        height: 80%;
        transition: height 0.6s;
    }
    .new_product_card:after {
        height: calc(100% + 4px);
        width: 90%;
        transition: width 0.6s;
    }
    .new_product_card:hover:before, 
    .new_product_card:focus:before {
        height: 50%;
    }
    .new_product_card:hover:after, 
    .new_product_card:focus:after {
        width: 75%;
    }
    .new_product_card {
        padding: 30px;
        z-index: 2;
        position: relative;
        text-align: center;
    }















    .page_five img, .page_seven img{
        width: 205px;
        height: 211px;
        margin-top: 25px;
        margin-left: 25px;
        margin-bottom: 25px;
        
    }

    .new_product_name {
        margin-bottom: 15px;        
        color: #000;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .new_product_price {
        color: var(--accent, #D7B399);
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .page_five .show_models, .page_seven .show_models {
        display: block;
        margin: 0 auto;
        color: #FFF;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;
    }
    .page_six {
        height: 180px;
        background-color: #212121;
        margin-top: 150px;
    }
    .sales_presents {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.6px;
        margin-right: 60px;
    }    
    .subscription {
        display: flex;
        padding-top: 72px      
    }
    input {
        height: 36       px;
        width: 255px;
        margin-right: 25px;
        border-radius: 0%;
    }
    .subscribe {
        height: 40px;
    width: 185px;
    background-color: #D7B399;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    cursor: pointer;
    float: right;
    }
    .footer {
        margin-top: 150px;
        height: 311px;
        background-color: #212121;
    }
    .privacy .container {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        height: 45px;
        font-family: montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
  